@page "/{pokemonId:int}"

@model OdeToPokemon.Pages.Pokemons.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h2>@Model.Pokemon.Name</h2>

@if(Model.Message != null)
{
    <div class="alert alert-info"> @Model.Message</div>
}

<table class=" table">

    <tr>
        <td> PokedexID </td>
        <td>  @Model.Pokemon.Id </td>
    </tr>
    <tr>
        <td> Type </td>
        <td> @Model.Pokemon.Type </td>
    </tr>
    <tr>
        <td>  Previous Evolution </td>
        <td>
            @if (Model.Pokemon.PreviousEvolution.Id > 0)
            {
                <a class="btn"
                   asp-page="./Detail"
                   asp-route-PokemonId="@Model.Pokemon.PreviousEvolution.Id">
                    @Model.Pokemon.PreviousEvolution.Name
                </a>
            } 
        </td>
</tr>
    <tr>
        <td>  Next Evolution </td>
        <td>
            @if (Model.Pokemon.NextEvolution.Id > 0)
            {
                <a class="btn"
                   asp-page="./Detail"
                   asp-route-PokemonId="@Model.Pokemon.NextEvolution.Id">
                    @Model.Pokemon.NextEvolution.Name
                </a>
            }
        </td>
    </tr>

</table>

<a asp-page="./Edit" class="btn btn-default"  asp-route-PokemonId="@Model.Pokemon.Id"> Edit Pokemon</a>

<a asp-page="./List" class="btn btn-default"> All Pokemons</a>